
.vscode/settings.json

Assignments/__pycache__/

Assignments/.ipynb_checkpoints/

.idea/

.vscode/

Assignments/week03/__pycache__/

Assignments/week03/.ipynb_checkpoints/

Assignments/week02/.ipynb_checkpoints/

Assignments/week01/.ipynb_checkpoints/
